body {
    background: rgb(52, 180, 255);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgb(83, 83, 83),  rgb(143, 143, 143), rgb(203, 203, 203));
}

header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 100px;
}

p {
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding-top: 0px;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    padding-top: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(198, 198, 198);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.dropdown.hover .dropdown-content {
    display: block;
}

.nav-buttons a {
    background-color: rgb(134, 134, 134);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 0 20px;
    margin-left: 40px;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: inline-block;
}

.nav-buttons.active {
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
}

.nav-buttons a:hover {
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
}

.avg-buttons {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    gap: 10px;                
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 25px;

}

.avg-buttons a {
    background-color: rgb(134, 134, 134);
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.6);
    text-decoration: none;
    display: inline-block;
}

.avg-buttons.active {
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
}

.avg-buttons a:hover {
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
}

.navbar {
    text-align: center;
    margin: 20px;
}

input {
    padding: 10px;
    border-radius: 10px;
}

html {
  scrollbar-color: rgb(78, 78, 78) transparent;
}

.container {
    flex: 0,5;
    min-height: 0;        /* cruciaal voor scrollen in flexbox */
    overflow-y: auto;
    width: 80%;
    margin: 16px auto;    
    margin-bottom: 40px;
    padding-bottom: 8px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(190, 190, 190);
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

table {
    width: 100%;
}

td,
th {
    padding: 10px;
    text-align: center;
}

button {
    padding: 6px 10px;
    margin: 2px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(198, 198, 198);
    color: rgb(255, 255, 255);
    padding: 30px;
    width: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
}

.modal button {
    width: 48%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 0 20px;
    margin-left: 40px;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
}

.modal select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
}

.modal textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 14px;
    resize: none;
    border: 2px solid rgb(0, 0, 0);
}

footer {
    flex-shrink: 0;
    height: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
    background-color: rgb(185, 185, 185);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 300px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

input[type="text"]:hover {
    background-color: rgba(185, 185, 185);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    cursor: text;
}

input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
}

img {
    margin-left: 50px;
    margin-right: 50px;
}

.edit {
    color: rgb(0, 0, 255);
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 255);
}

.delete {
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(255, 0, 0);
}

.uren {
    color:rgb(255, 153, 0);
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(255, 153, 0);
}

.toevoegen {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 20PX;
    text-align: center;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid rgb(114, 114, 114);
}

.user-info {
    background-color: rgb(134, 134, 134);
    padding: 10px 15px;
    border-radius: 6px;
    margin-left: 40px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}

.user-info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.navbar-left {
    flex: 1;
}

.navbar-center {
    flex: 1;
    text-align: center;
}

.navbar-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

    .index-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    }

    .login-logo {
    width: 300px;        
    display: flex;
    justify-content: left;
    padding-top: 50px;
    }

/*
.nav-buttons a {
    background-color: rgb(19, 95, 139);
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    margin-left: 40px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid rgb(250, 170, 0);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: inline-block;
}


.nav-buttons a:hover {
    background-color: rgb(25, 110, 160);
    color: rgb(250, 170, 0);
}
